.btn {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  background-color: #764abc;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #8d4cf6;
}

.btn.disabled {
  color: #5a5a5a;
  background-color: #c5adeb;
}

.image {
  height: 24px;
  width: auto;
}
