.cartItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #dddddd;
}

.cartItemInformation {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 12px 24px;
}

.name {
  margin: 5px 0;
}

.available {
  margin: 0;
  font-size: 12px;
}

.quantity {
  margin: 0;
  font-size: 12px;

}

.price {
  margin: 0;
  font-size: 12px;
}

.cartItemControls {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 12px;
  padding-right: 36px;
}

.delete {
  position: absolute;
  top: 8px;
  right: 0;
  border: none;
  border-radius: 50%;
  color: rgb(71, 71, 71);
}

.delete:hover {
  color: rgb(0 0 0);
  background: transparent;
}
