.wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  border-radius: 4px;
  box-shadow: 1px 10px 15px -3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.wrapper:hover {
  box-shadow: 1px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.name {
  text-align: center;
  margin: 0;
  padding: 16px;
  background-color: #f7f2ff;
  border-radius: 4px 4px 0 0;
}

.quantity {
  padding: 16px 24px 0 24px;
}

.price {
  padding: 0 24px 16px 24px;
}
